header {
    border: 1px solid #000;
    padding: 15px;
    border-radius: 10px;
    margin: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header:hover {
    box-shadow: 0 0 10px #666;
}

header .contenedor-carrito .imagenCarrito {
    width: auto;
    height: 50px;
    margin-right: 5px;
}

main .contenedor-imagen {
    display: grid;
    place-items: center;
}

main .contenedor-market {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.market:hover {
    box-shadow: 0 0 10px #666;
}

main .contenedor-imagen .imagenPoli {
    width: auto;
    height: 270px;
    margin: 5%;
}

.contenedor-principal {
    display: flex;
    justify-content: space-between;
}

.seccion-izquierda,
.seccion-derecha {
    width: 48%;
    padding: 10px;
}

.contenedor {
    display: flex;
    align-items: center;
    padding: 20px;
}

.imagen {
    margin-right: 20px;
    height: 170px;
    width: auto;
}

.texto {
    flex-grow: 1;
}

.error {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 25, 25);
    margin: 4%;
}