<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body>
    <header>
        <div>
            <a href="/"><button type="button" class="btn btn-outline-warning">Inicio</button></a>
        </div>
        <div class="contenedor-carrito">
            <img class="imagenCarrito" src="{% static 'img/carrito.png' %}">
        </div>
    </header>
    <main>
        <div class="contenedor-principal">
            <div class="seccion-izquierda" style="text-align: center;">
                <img src="{% static 'img/LogoOrienteFitCorto.jpg' %}" style="width: auto; height: 400px;">
            </div>
            <div class="seccion-derecha" style="margin: 5%;">
                <form method="post">
                    {% csrf_token %}
                    <h2 style="text-align: center;">Iniciar sesión</h2>
                    <div class="mb-3">
                        <label for="exampleInput" class="form-label">Usuario</label>
                        <input type="text" class="form-control" placeholder="Ingrese su usuario" name="usuario" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" name="clave" placeholder="Ingrese su contraseña" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-outline-warning">Ingresar</button>
                    <a href="/Registro/"><button type="button" class="btn btn-outline-warning">Registro</button></a>
                </form>
                <h5 class="error">{{error}}</h5>
            </div>
        </div>

        <div class="contenedor-principal">
            <div class="seccion-izquierda" style="border: 1px solid lightgray; border-radius: 10px; margin: 5%;">
                <h5>Habilidades:</h5>
                <h6> -Principiante en programación. </h6>
                <h6> -Ingenio y creatividad. </h6>
                <h6> -Resolución de problemas. </h6>
                <h5>Herramientas de dominio:</h5>
                <h6> -HTML </h6>
                <h6> -CSS </h6>
                <h6> -Java </h6>
            </div>
            <div class="seccion-derecha">
                <div class="contenedor">
                    <img class="imagen" src="{% static 'img/me.jpg' %}">
                    <div class="texto">
                        <h5>Nombre: Juliana</h5>
                        <h5>Apellido: Castañeda</h5>
                        <h5>Cédula: 1033256768</h5>
                        <h5>Correo: juliana_castaneda82222@elpoli.edu.co</h5>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>