<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <div>
            <a href="/"><button type="button" class="btn btn-outline-warning">Inicio</button></a>
        </div>
        <div class="contenedor-carrito">
            <img class="imagenCarrito" src="{% static 'img/carrito.png' %}">
        </div>
    </header>
    <main>
        <div class="contenedor-market">
            <h3>Proteínas</h3>
            <a href="/Categoria/" style="color: black;">
                <h4>ver más</h4>
            </a>
        </div>
        <div class="contenedor-principal market" style="border: 1px solid lightgray; margin: 2%; border-radius: 10px; ">
            <div class="seccion-izquierda">
                <div class="contenedor">
                    <a href= "{% url 'Producto' parametro1='Nitro tech' %}"><img class="imagen" src="{% static 'img/nitrotech.png' %}"></a>
                    <div class="texto">
                        <h5>Nombre: Nitro tech</h5>
                        <h5>Precio: 200.000,00</h5>
                        <h5>Categoría: Proteína</h5>
                    </div>
                </div>
            </div>
            <div class="seccion-derecha">
                <div class="contenedor">
                    <a href= "{% url 'Producto' parametro1='ISO100' %}"><img class="imagen" src="{% static 'img/proteina1.png' %}"></a>
                    <div class="texto">
                        <h5>Nombre: ISO100</h5>
                        <h5>Precio: 380.000,00</h5>
                        <h5>Categoría: Proteína</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-market">
            <h3>Creatinas</h3>
            <a href="/Categoria2/" style="color: black;">
                <h4>ver más</h4>
            </a>
        </div>
        <div class="contenedor-principal market" style="border: 1px solid lightgray; margin: 2%; border-radius: 10px;">
            <div class="seccion-izquierda">
                <div class="contenedor">
                    <a href="{% url 'Producto' parametro1='Legacy' %}"><img class="imagen" src="{% static 'img/legacy.png' %}"></a>
                    <div class="texto">
                        <h5>Nombre: Legacy</h5>
                        <h5>Precio: 110.000,00</h5>
                        <h5>Categoría: Creatina</h5>
                    </div>
                </div>
            </div>
            <div class="seccion-derecha">
                <div class="contenedor">
                    <a href="{% url 'Producto' parametro1='Creatine' %}"><img class="imagen" src="{% static 'img/creatina1.png' %}"></a>
                    <div class="texto">
                        <h5>Nombre: CREASTACK</h5>
                        <h5>Precio: 95.000,00</h5>
                        <h5>Categoría: Creatina</h5>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>