.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;

	text-align: left;
	text-decoration: none;
	color: #000;
}

.category_list .ct_item-active{
	text-decoration: underline;
    color: gray;
}

.category_list .category_item:hover{
	text-decoration: underline;
}

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}

.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	max-width: 300px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item:hover{
	box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.products-list .product-item img{
	width: 200px;
    height: 200px;
	align-items: center;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;

	color: #000;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
}

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}