body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor-superior {
    display: flex;
    flex: 1;
}

.seccion {
    flex: 1;
}

.contenido-principal {
    flex: 6;
    text-align: center;
    padding: 20px;
}

.contenedor-inferior {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.contenedor-principal {
    display: flex;
    justify-content: space-between;
}

.seccion-izquierda,
.seccion-derecha {
    width: 48%;
    padding: 10px;
    
}

.texto {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.redessociales{
    text-align: center;
}

.img-carrusel {
    max-height: 250px;
    object-fit: cover; 
}

#carrusel {
    float:left;
    width:1325px;
    overflow:hidden;
    height:350px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
}
 
#carrusel .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
#carrusel .right-arrow {
    position:absolute;
    right:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
.carrusel {
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;
}
 
.carrusel>div {
    float: left;
    height: 350px;
    margin-right: 5px;
    width: 420px;
    text-align:center;
}
 
.carrusel img {
    cursor:pointer;
}

.error {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 25, 25);
    margin: 4%;
}