<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrienteFit | Inicio</title>
    <link rel="shortcut icon" href="{% static 'img/LogoOrienteFitCorto.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" async></script>
</head>

<body>
    <div class="contenedor-superior">
        <div class="seccion"></div>
        <div class="contenido-principal col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <img src="{% static 'img/LogoOrienteFitCorto.jpg' %}" width="180" height="150"
                style="display: block; margin: 0 auto;" />
            <h1 style="font-family: Arial, Helvetica, sans-serif; text-align: left;">ORIENTEFIT</h1>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Tienda/">Tienda</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div style="margin: 5%; margin-top: 10%;">
                <h1 class="texto" style="font-size: 70px;">TENEMOS NUEVA</h1>
                <h1 class="texto" style="font-size: 70px;">MERCANCÍA</h1>
                <h5 class="texto" style="margin: 4%;">¡Aprovecha las ofertas limitadas!</h5>
            </div>
            <section class="contenedor">
                <div class="contenedor-items">
                    <div class="item">
                        <span class="titulo-item">Creastack</span>
                        <a href= "{% url 'Producto' parametro1='CREASTACK' %}"><img src="{% static 'img/creatina1.png' %}" alt="" class="img-item"></a>
                        <span class="precio-item">$145.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">Creatine power (10 lb)</span>
                        <a href= "{% url 'Producto' parametro1='CREATINE POWER' %}"><img src="{% static 'img/creatina2.png' %}" alt="" class="img-item"></a>
                        <span class="precio-item">$210.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">Nitro tech (4 lb)</span>
                        <a href= "{% url 'Producto' parametro1='Nitro tech' %}"><img src="{% static 'img/nitrotech.png' %}" alt="" class="img-item"></a>
                        <span class="precio-item">$260.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">whey gold standard (2 lb)</span>
                        <a href= "{% url 'Producto' parametro1='Gold standard whey' %}"><img src="{% static 'img/proteina2.png' %}" alt="" class="img-item"></a>
                        <span class="precio-item">$180.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">Legacy</span>
                        <a href= "{% url 'Producto' parametro1='Legacy' %}"><img src="{% static 'img/legacy.png' %}" alt="" class="img-item"></a>
                        <span class="precio-item">$105.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">Creatine</span>
                        <a href= "{% url 'Producto' parametro1='Creatine' %}"><img src="{% static 'img/iron.jpeg' %}" alt="" class="img-item"></a>
                        <span class="precio-item">$100.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">Omega 3</span>
                        <a href= "{% url 'Producto' parametro1='Omega' %}"><img src="{% static 'img/omega.webp' %}" alt="" class="img-item"></a>
                        <span class="precio-item">$70.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">C-4 (60 servs)</span>
                        <a href= "{% url 'Producto' parametro1='C4' %}"><img src="{% static 'img/pre1.png' %}" alt="" class="img-item"></a>
                        <span class="precio-item">$170.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">intenze</span>
                        <a href= "{% url 'Producto' parametro1='Intenze' %}"><img src="{% static 'img/intenze.png' %}" alt="" class="img-item"></a>
                        <span class="precio-item">$135.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                </div>

                <div class="carrito" id="carrito">
                    <div class="header-carrito">
                        <h2>Tu Carrito</h2>
                    </div>
                    <div class="carrito-items">
                    </div>
                    <div class="carrito-total">
                        <div class="fila">
                            <strong>Tu Total</strong>
                            <span class="carrito-precio-total">
                                $120.000,00
                            </span>
                        </div>
                        <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
                    </div>
                </div>
            </section>
            <div class="contenedor-principal"></div>
        </div>
        <div class="seccion"></div>
    </div>
    <div class="contenedor-inferior">
        <h2 style="font-family: 'Raleway', sans-serif; text-align: left; margin-top: 5%;">Productos nuevos</h2>
        <div id="carrusel">
            <a href="" class="left-arrow"><img src="{% static 'img/izquierda.png' %}"
                    style="height: 50px; width: 50px;" /></a>
            <a href="" class="right-arrow"><img src="{% static 'img/derecha.png' %}"
                    style="height: 50px; width: 50px;" /></a>
            <div class="carrusel">
                <div class="product" id="product_0">
                    <a href= "{% url 'Producto' parametro1='CREASTACK' %}"><img src="{% static 'img/creatina1.png' %}" class="img-carrusel" /></a>
                    <h5 style="font-family: 'Raleway', sans-serif;">CREASTACK</h5>
                </div>
                <div class="product" id="product_1">
                    <a href= "{% url 'Producto' parametro1='CREATINE POWER' %}"><img src="{% static 'img/creatina2.png' %}" class="img-carrusel" /></a>
                    <h5 style="font-family: 'Raleway', sans-serif;">CREATINE POWER</h5>
                </div>
                <div class="product" id="product_2">
                    <a href= "{% url 'Producto' parametro1='Creatine' %}"><img src="{% static 'img/iron.jpeg' %}" class="img-carrusel" /></a>
                    <h5 style="font-family: 'Raleway', sans-serif;">CREATINE</h5>
                </div>
                <div class="product" id="product_3">
                    <a href= "{% url 'Producto' parametro1='Nitro tech' %}"><img src="{% static 'img/nitrotech.png' %}" class="img-carrusel" /></a>
                    <h5 style="font-family: 'Raleway', sans-serif;">NITRO TECH</h5>
                </div>
                <div class="product" id="product_4">
                    <a href= "{% url 'Producto' parametro1='Gold standard whey' %}"><img src="{% static 'img/proteina2.png' %}" class="img-carrusel" /></a>
                    <h5 style="font-family: 'Raleway', sans-serif;">GOLD STANDARD WHEY</h5>
                </div>
                <div class="product" id="product_5">
                    <a href= "{% url 'Producto' parametro1='Legacy' %}"><img src="{% static 'img/legacy.png' %}" class="img-carrusel" /></a>
                    <h5 style="font-family: 'Raleway', sans-serif;">LEGACY</h5>
                </div>
                <div class="product" id="product_6">
                    <a href= "{% url 'Producto' parametro1='C4' %}"><img src="{% static 'img/pre1.png' %}" class="img-carrusel" /></a>
                    <h5 style="font-family: 'Raleway', sans-serif;">C-4</h5>
                </div>
                <div class="product" id="product_7">
                    <a href= "{% url 'Producto' parametro1='Intenze' %}"><img src="{% static 'img/intenze.png' %}" class="img-carrusel" /></a>
                    <h5 style="font-family: 'Raleway', sans-serif;">INTENZE</h5>
                </div>
                <div class="product" id="product_8">
                    <a href= "{% url 'Producto' parametro1='Omega' %}"><img src="{% static 'img/omega.webp' %}" class="img-carrusel" /></a>
                    <h5 style="font-family: 'Raleway', sans-serif;">OMEGA 3</h5>
                </div>
                <div class="product" id="product_9">
                    <a href= "{% url 'Producto' parametro1='Myth' %}"><img src="{% static 'img/myth.jpeg' %}" class="img-carrusel" /></a>
                    <h5 style="font-family: 'Raleway', sans-serif;">MYTH</h5>
                </div>
                <div class="product" id="product_10">
                    <a href= "{% url 'Producto' parametro1='ISO100' %}"><img src="{% static 'img/proteina1.png' %}" class="img-carrusel" /></a>
                    <h5 style="font-family: 'Raleway', sans-serif;">ISO100</h5>
                </div>
            </div>
        </div>
        <h5 class="texto" style="margin-top: 3%;">OrienteFit</h5>
        <h6 class="texto" style="margin: 3%;">julianacg82cdn@gmail.com</h6>
        <div class="redessociales" style="margin-bottom: 4%;">
            <a href="https://www.instagram.com/orientefit/?igshid=OGQ5ZDc2ODk2ZA%3D%3D">
                <img src="{% static 'img/instagram.png' %}" width="20px" height="20px" />
            </a>
            <img src="{% static 'img/whatsapp.png' %}" width="20px" height="20px" />
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script>
        var current = 0;

        $(document).ready(function () {
            var numImages = 11;

            $('.left-arrow').on('click', function () {
                if (current > 0) {
                    current = current - 1;
                } else {
                    current = numImages - 3;
                }

                $(".carrusel").animate({ "left": -($('#product_' + current).position().left) }, 600);

                return false;
            });

            $('.right-arrow').on('click', function () {
                if (numImages > current + 3) {
                    current = current + 1;
                } else {
                    current = 0;
                }

                $(".carrusel").animate({ "left": -($('#product_' + current).position().left) }, 600);

                return false;
            });
        });
    </script>
    <script src="{% static 'js/sweetalert2@11.js' %}"></script>
</body>

</html>