<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrienteFit | Login</title>
    <link rel="shortcut icon" href="{% static 'img/LogoOrienteFitCorto.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>

<body>
    <div class="contenedor-superior">
        <div class="seccion"></div>
        <div class="contenido-principal col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <img src="{% static 'img/LogoOrienteFitCorto.jpg' %}" width="180" height="150"
                style="display: block; margin: 0 auto;" />
            <h1 style="font-family: Arial, Helvetica, sans-serif; text-align: left;">ORIENTEFIT</h1>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Tienda/">Tienda</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="contenedor-principal"></div>
        </div>
        <div class="seccion"></div>
    </div>
    <div class="contenedor-inferior gradient">
        <div style="display: flex; justify-content: center; border-radius: 40px;" class="container my-5 py-5 bg-white">
            <form method="post">
                {% csrf_token %}
                <h2 style="text-align: center; margin-bottom: 10%;">Iniciar sesión</h2>
                <div class="mb-3" style="text-align: left;">
                    <label for="exampleInput" class="form-label">Usuario</label>
                    <input type="text" class="form-control" placeholder="Ingrese su usuario" name="usuario" autofocus required>
                </div>
                <div class="mb-3" style="text-align: left;">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" name="clave" placeholder="Ingrese su contraseña" class="form-control"
                        required>
                </div>
                <button type="submit" class="btn btn-outline-warning" onclick="pagoExitoso()">Ingresar</button>
                <a href="/Registro/"><button type="button" class="btn btn-outline-warning">Registro</button></a>
            </form>
            <h5 class="error">{{error}}</h5>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2@11.js' %}"></script>
    <script>
        function pagoExitoso(){
            Swal.fire({
                title: "Tu pago ha sido exitoso!",
                text: "Revisa tu correo para ver más info",
                icon: "success"
            });
        }
    </script>
</body>

</html>