<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrienteFit | Producto</title>
    <link rel="shortcut icon" href="{% static 'img/LogoOrienteFitCorto.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <script src="{% static 'js/script.js' %}" async></script>
</head>

<body>
    <div class="contenedor-superior">
        <div class="seccion"></div>
        <div class="contenido-principal col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <img src="{% static 'img/LogoOrienteFitCorto.jpg' %}" width="180" height="150"
                style="display: block; margin: 0 auto;" />
            <h1 style="font-family: Arial, Helvetica, sans-serif; text-align: left;">ORIENTEFIT</h1>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Tienda/">Tienda</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="contenedor-principal"></div>
        </div>
        <div class="seccion"></div>
    </div>
    <div class="contenedor-principal" style="margin-top: 4%;">
        <div class="seccion-izquierda">
            <h2 style="text-align: center; margin: 4%;">{{producto.nombre}}</h2>
            <p style="border: 1px solid lightgray; border-radius: 10px; padding: 3%;">{{producto.descripcion}}</p>
            <h2 style="text-align: left;">{{producto.precio}}</h2>
            <div style="display: flex; align-items: center; margin-top: 6%;">
                <label for="exampleInputCantidad" class="form-label">Cantidad:</label>
                <input type="number" class="form-control" name="cantidad"
                    style="width: 60px; height: auto; margin-left: 3%;" required>
            </div>
            <button type="button" class="btn btn-outline-warning btn-pagar"
                    style="margin-top: 4%;">Comprar</button>
        </div>
        <div class="seccion-derecha" style="margin-top: 5%;">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" style="text-align: center;">
                    <div class="carousel-item active">
                        <img src="{{ producto.imagen }}" style="width: auto; height: 400px;">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ producto.info }}" style="width: auto; height: 400px;">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev" style="background-color: lightgray; border-radius: 10px;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next" style="background-color: lightgray;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>