<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda | OrienteFit</title>
    <link rel="shortcut icon" href="{% static 'img/LogoOrienteFitCorto.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/estiloTienda.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="contenedor-superior">
        <div class="seccion"></div>
        <div class="contenido-principal col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <img src="{% static 'img/LogoOrienteFitCorto.jpg' %}" width="180" height="150"
                style="display: block; margin: 0 auto;" />
            <h1 style="font-family: Arial, Helvetica, sans-serif; text-align: left;">ORIENTEFIT</h1>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/Tienda/">Tienda</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="seccion"></div>
    </div>
    <div class="contenedor-inferior" style="margin-top: 5%;">
        <div class="wrap">
            <div class="store-wrapper">
                <div class="category_list">
                    <a href="#" class="category_item" category="all">Todos los productos</a>
                    <a href="#" class="category_item" category="proteinas">Proteínas</a>
                    <a href="#" class="category_item" category="creatinas">Creatinas</a>
                    <a href="#" class="category_item" category="preentrenos">Preentrenos</a>
                    <a href="#" class="category_item" category="otros">Otros</a>
                </div>
                <section class="products-list" style="font-family: 'Raleway', sans-serif;">
                    <div class="product-item" category="proteinas">
                        <a href="{% url 'Producto' parametro1='ISO100' %}"><img src="{% static 'img/proteina1.png' %}"
                                alt="">
                                iso100</a>
                    </div>
                    <div class="product-item" category="proteinas">
                        <a href="{% url 'Producto' parametro1='Gold standard whey' %}"><img
                                src="{% static 'img/proteina2.png' %}" alt="">
                                gold standard whey</a>
                    </div>
                    <div class="product-item" category="proteinas">
                        <a href="{% url 'Producto' parametro1='Nitro tech' %}"><img
                                src="{% static 'img/nitrotech.png' %}" alt="">
                                nitro tech</a>
                    </div>
                    <div class="product-item" category="creatinas">
                        <a href="{% url 'Producto' parametro1='Creatine' %}"><img src="{% static 'img/iron.jpeg' %}"
                                alt="">
                                Creatine</a>
                    </div>
                    <div class="product-item" category="creatinas">
                        <a href="{% url 'Producto' parametro1='Legacy' %}"><img src="{% static 'img/legacy.png' %}"
                                alt="">
                                legacy</a>
                    </div>
                    <div class="product-item" category="creatinas">
                        <a href="{% url 'Producto' parametro1='CREASTACK' %}"><img
                                src="{% static 'img/creatina1.png' %}" alt="">
                                creastack</a>
                    </div>
                    <div class="product-item" category="creatinas">
                        <a href="{% url 'Producto' parametro1='CREATINE POWER' %}"><img
                                src="{% static 'img/creatina2.png' %}" alt="">
                                creatine power</a>
                    </div>
                    <div class="product-item" category="preentrenos">
                        <a href="{% url 'Producto' parametro1='C4' %}"><img src="{% static 'img/pre1.png' %}"
                                alt="">
                                c-4</a>
                    </div>
                    <div class="product-item" category="preentrenos">
                        <a href="{% url 'Producto' parametro1='Myth' %}"><img src="{% static 'img/myth.jpeg' %}"
                                alt="">
                                myth</a>
                    </div>
                    <div class="product-item" category="preentrenos">
                        <a href="{% url 'Producto' parametro1='Intenze' %}"><img src="{% static 'img/intenze.png' %}"
                                alt="">
                            intenze</a>
                    </div>
                    <div class="product-item" category="otros">
                        <a href="{% url 'Producto' parametro1='Omega' %}"><img src="{% static 'img/omega.webp' %}"
                                alt="">
                            omega 3</a>
                    </div>
                    <div class="product-item" category="proteinas">
                        <a href="{% url 'Producto' parametro1='Whey' %}"><img
                                src="{% static 'img/whey.jpg' %}" alt="">
                                whey pure</a>
                    </div>
                </section>
            </div>
        </div>
        <h5 class="texto" style="margin-top: 3%;">OrienteFit</h5>
        <h6 class="texto" style="margin: 3%;">julianacg82cdn@gmail.com</h6>
        <div class="redessociales" style="margin-bottom: 4%;">
            <a href="https://www.instagram.com/orientefit/?igshid=OGQ5ZDc2ODk2ZA%3D%3D">
                <img src="{% static 'img/instagram.png' %}" width="20px" height="20px" />
            </a>
            <img src="{% static 'img/whatsapp.png' %}" width="20px" height="20px" />
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/appTienda.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>