<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrienteFit | Categoria</title>
    <link rel="shortcut icon" href="{% static 'img/LogoOrienteFitCorto.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <div>
            <a href="/"><button type="button" class="btn btn-outline-warning">Inicio</button></a>
        </div>
        <div class="contenedor-carrito">
            <img class="imagenCarrito" src="{% static 'img/carrito.png' %}">
        </div>
    </header>
    <main>
        <div class="contenedor-market">
            <h3>Proteínas</h3>
            <a href="/Marketplace/" style="color: black;">
                <h4>ver menos</h4>
            </a>
        </div>
        <div class="contenedor-principal">
            <div class="seccion-izquierda">
                <div class="contenedor">
                    <a href= "{% url 'Producto' parametro1='Nitro tech' %}"><img class="imagen" src="{% static 'img/nitrotech.png' %}"></a>
                    <div class="texto">
                        <h5>Nombre: Nitro tech</h5>
                        <h5>Precio: 200.000,00</h5>
                        <h5>Categoría: Proteína</h5>
                    </div>
                </div>
            </div>
            <div class="seccion-derecha">
                <div class="contenedor">
                    <a href= "{% url 'Producto' parametro1='ISO100' %}"><img class="imagen" src="{% static 'img/proteina1.png' %}"></a>
                    <div class="texto">
                        <h5>Nombre: ISO100</h5>
                        <h5>Precio: 380.000,00</h5>
                        <h5>Categoría: Proteína</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-principal">
            <div class="seccion-izquierda">
                <div class="contenedor">
                    <a href= "{% url 'Producto' parametro1='Gold standard whey' %}"><img class="imagen" src="{% static 'img/proteina2.png' %}" style="width: auto; height: 245px;"></a>
                    <div class="texto">
                        <h5>Nombre: Gold standard whey</h5>
                        <h5>Precio: 250.000,00</h5>
                        <h5>Categoría: Proteína</h5>
                    </div>
                </div>
            </div>
            <div class="seccion-derecha">
                <div class="contenedor" style="margin-top: 40px;">
                    <a href= "{% url 'Producto' parametro1='BIPRO' %}"><img class="imagen" src="{% static 'img/BIPRO.jpg' %}"></a>
                    <div class="texto">
                        <h5>Nombre: BIPRO</h5>
                        <h5>Precio: 215.000,00</h5>
                        <h5>Categoría: Proteína</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-principal">
            <div class="seccion-izquierda">
                <div class="contenedor">
                    <a href= "{% url 'Producto' parametro1='Whey' %}"><img class="imagen" src="{% static 'img/whey.jpg' %}"></a>
                    <div class="texto">
                        <h5>Nombre: Whey</h5>
                        <h5>Precio: 280.000,00</h5>
                        <h5>Categoría: Proteína</h5>
                    </div>
                </div>
            </div>
            <div class="seccion-derecha">
                <div class="contenedor">
                    <a href= "{% url 'Producto' parametro1='MEGA CARBS' %}"><img class="imagen" src="{% static 'img/mega.png' %}"></a>
                    <div class="texto">
                        <h5>Nombre: MEGA CARBS</h5>
                        <h5>Precio: 180.000,00</h5>
                        <h5>Categoría: Proteína</h5>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>