<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrienteFit | Categoria</title>
    <link rel="shortcut icon" href="{% static 'img/LogoOrienteFitCorto.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <div>
            <a href="/"><button type="button" class="btn btn-outline-warning">Inicio</button></a>
        </div>
        <div class="contenedor-carrito">
            <img class="imagenCarrito" src="{% static 'img/carrito.png' %}">
        </div>
    </header>
    <main>
        <div class="contenedor-market">
            <h3>Proteínas</h3>
            <a href="/Marketplace/" style="color: black;">
                <h4>ver menos</h4>
            </a>
        </div>
        <div class="contenedor-principal">
            <div class="seccion-izquierda">
                <div class="contenedor">
                    <a href= "{% url 'Producto' parametro1='Legacy' %}"><img class="imagen" src="{% static 'img/legacy.png' %}"></a>
                    <div class="texto">
                        <h5>Nombre: Legacy</h5>
                        <h5>Precio: 110.000,00</h5>
                        <h5>Categoría: Creatina</h5>
                    </div>
                </div>
            </div>
            <div class="seccion-derecha">
                <div class="contenedor">
                    <a href= "{% url 'Producto' parametro1='CREASTACK' %}"><img class="imagen" src="{% static 'img/creatina1.png' %}"></a>
                    <div class="texto">
                        <h5>Nombre: CREASTACK</h5>
                        <h5>Precio: 95.000,00</h5>
                        <h5>Categoría: Creatina</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-principal">
            <div class="seccion-izquierda">
                <div class="contenedor">
                    <a href= "{% url 'Producto' parametro1='Creatine' %}"><img class="imagen" src="{% static 'img/iron.jpeg' %}" style="width: auto; height: 245px;"></a>
                    <div class="texto">
                        <h5>Nombre: Creatine</h5>
                        <h5>Precio: 110.000,00</h5>
                        <h5>Categoría: Creatina</h5>
                    </div>
                </div>
            </div>
            <div class="seccion-derecha">
                <div class="contenedor" style="margin-top: 40px;">
                    <a href= "{% url 'Producto' parametro1='CREATINE POWER' %}"><img class="imagen" src="{% static 'img/creatina2.png' %}"></a>
                    <div class="texto">
                        <h5>Nombre: CREATINE POWER</h5>
                        <h5>Precio: 125.000,00</h5>
                        <h5>Categoría: Creatina</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-principal">
            <div class="seccion-izquierda">
                <div class="contenedor">
                    <a href= "{% url 'Producto' parametro1='MICRONIZED' %}"><img class="imagen" src="{% static 'img/creatina3.webp' %}"></a>
                    <div class="texto">
                        <h5>Nombre: MICRONIZED</h5>
                        <h5>Precio: 150.000,00</h5>
                        <h5>Categoría: Creatina</h5>
                    </div>
                </div>
            </div>
            <div class="seccion-derecha">
                <div class="contenedor">
                    <a href= "{% url 'Producto' parametro1='PLATINUM' %}"><img class="imagen" src="{% static 'img/platinum.jpeg' %}"></a>
                    <div class="texto">
                        <h5>Nombre: PLATINUM</h5>
                        <h5>Precio: 120.000,00</h5>
                        <h5>Categoría: Creatina</h5>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>