<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrienteFit | Producto</title>
    <link rel="shortcut icon" href="{% static 'img/LogoOrienteFitCorto.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <div>
            <a href="/"><button type="button" class="btn btn-outline-warning">Inicio</button></a>
        </div>
        <div class="contenedor-carrito">
            <img class="imagenCarrito" src="{% static 'img/carrito.png' %}">
        </div>
    </header>
    <main>
        <div class="contenedor-principal">
            <div class="seccion-izquierda">
                <h2 style="text-align: center; margin: 4%;">{{producto.nombre}}</h2>
                <p style="border: 1px solid lightgray; border-radius: 10px; padding: 3%;">{{producto.descripcion}}</p>
                <h2 style="text-align: left;">{{producto.precio}}</h2>
                <div style="display: flex; align-items: center; margin-top: 6%;">
                    <label for="exampleInputCantidad" class="form-label">Cantidad:</label>
                    <input type="number" class="form-control" name="cantidad" style="width: 60px; height: auto; margin-left: 3%;">
                </div>
                <a href="/Marketplace/"><button type="button" class="btn btn-outline-warning" style="margin-top: 4%;">Comprar</button></a>
            </div>
            <div class="seccion-derecha" style="margin-top: 5%;">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" style="text-align: center;">
                        <div class="carousel-item active">
                            <img src="{% static 'img/proteina1.png' %}" style="width: auto; height: 400px;">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/isoInfo.webp' %}" style="width: auto; height: 400px;">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev" style="background-color: lightgray; border-radius: 10px;">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next" style="background-color: lightgray;">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>