<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrienteFit | Registro</title>
    <link rel="shortcut icon" href="{% static 'img/LogoOrienteFitCorto.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body>
    <header>
        <div>
            <a href="/"><button type="button" class="btn btn-outline-warning">Inicio</button></a>
        </div>
        <div class="contenedor-carrito">
            <img class="imagenCarrito" src="{% static 'img/carrito.png' %}">
        </div>
    </header>
    <main>
        <div class="contenedor-principal">
            <div class="seccion-izquierda" style="margin: 4%;">
                <h2 style="text-align: center;">Registrarse</h2>
                <h5 class="error">{{error}}</h5>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInput1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="Ingrese su nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInput2" class="form-label">Apellido</label>
                        <input type="text" class="form-control" placeholder="Ingrese su apellido" name="apellido"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInput4" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" placeholder="Ingrese su teléfono" name="telefono"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInput5" class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="Ingrese su email" name="email" required>
                    </div>
                    <div style="border: 0.2px solid #000; border-radius: 2%;">
                        <div class="mb-3">
                            <label for="exampleInput3" class="form-label">Usuario</label>
                            <input type="text" class="form-control" placeholder="Ingrese su usuario" name="usuario"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword2" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" placeholder="Ingrese su contraseña" name="clave"
                                required>
                        </div>
                    </div>
                    <div style="margin: 2%;">
                        <button type="submit" class="btn btn-outline-warning">Registrarse</button>
                        <a href="/Login/"><button type="button" class="btn btn-outline-warning">Login</button></a>
                    </div>
                </form>
            </div>
            <div class="seccion-derecha">
                <img src="{% static 'img/suplementos.jpg' %}" style="width: auto; height: 400px; margin: 4%;">
                <div class="contenedor">
                    <img class="imagen" src="{% static 'img/me.jpg' %}">
                    <div class="texto">
                        <h5>Nombre: Juliana</h5>
                        <h5>Apellido: Castañeda</h5>
                        <h5>Cédula: 1033256768</h5>
                        <h5>Correo: juliana_castaneda82222@elpoli.edu.co</h5>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>